In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
books=pd.read_csv("Books.csv")
users=pd.read_csv("Users.csv")
ratings=pd.read_csv("Ratings.csv")

C:\Users\KIIT0001\AppData\Local\Temp\ipykernel_2152\1200367601.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv("Books.csv")

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
print(books.shape)#for total columns.(total rows)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [7]:
#finding missing value
books.isnull().sum() #write side is no of books mean ex 1 books auth. is missing

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
#dublicates
# books.duplicated() will show True is duplicate found

In [11]:
books.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

In [13]:
ratings.duplicated().sum()

0

  <b>I performed EDA on above data in other section</b>

## Popularity based

 top 50 books with highest avg. rating

  #minimum 300 rating on a book will be consider  eligibility for recomendation based on popularaty

In [14]:
#merge rating and books using isbm column cz both dataframe has it

In [15]:
ratings.merge(books,on='ISBN')

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

why 1031136 rows not 11 lakh as rating cz rating have books that does not present in books frame

In [16]:
#storing this in a another variable. we can choose which column to take or whole data
test=ratings.merge(books,on='ISBN')[['Book-Rating','Book-Author']]
print(test)

         Book-Rating      Book-Author
0                  0       M. J. Rose
1                  5       M. J. Rose
2                  0       M. J. Rose
3                  5       M. J. Rose
4                  9       M. J. Rose
...              ...              ...
1031131            0    Douglas Adams
1031132            7  Shirley Kennett
1031133            0     Debbie Dadey
1031134            0   Judith Freeman
1031135            5      Paul Sloane

[1031136 rows x 2 columns]

In [17]:
books_with_ratings=ratings.merge(books,on='ISBN')

In [18]:
#filtering based on titel #grouph by=work on column
books_with_ratings.groupby('Book-Title').count()
#will show data based on book title

,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
Book-Title,,,,,,,,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",4,4,4,4,4,4,4,4,4
Always Have Popsicles,1,1,1,1,1,1,1,1,1
Apple Magic (The Collector's series),1,1,1,1,1,1,1,1,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",1,1,1,1,1,1,1,1,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
Ã?Â?lpiraten.,2,2,2,2,2,2,2,2,2
Ã?Â?rger mit Produkt X. Roman.,4,4,4,4,4,4,4,4,4
Ã?Â?sterlich leben.,1,1,1,1,1,1,1,1,1
Ã?Â?stlich der Berge.,3,3,3,3,3,3,3,3,3
Ã?Â?thique en toc,2,2,2,2,2,2,2,2,2

In [19]:
#books titel with no of rating
books_with_ratings.groupby('Book-Title').count()['Book-Rating']

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
                                                                                                             ..
Ã?Â?lpiraten.                                                                                                 2
Ã?Â?rger mit Produkt X. Roman.                                                                                4
Ã?Â?sterlich leben.                                                                                           1
Ã?Â?stlich der Berge.                                                                                         3
Ã?Â?thique en toc                                                                                             2
Name: Book-Rating, Length: 241071, dtype: int64

In [20]:
#above is book without indexing so let reset indexing from 0123....
books_with_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()
#will show book title with no of ratings index wise

                                               Book-Title  Book-Rating
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Ask Lily (Young Women of Faith: Lily Series, ...            1
4        Beyond IBM: Leadership Marketing and Finance ...            1
...                                                   ...          ...
241066                                      Ã?Â?lpiraten.            2
241067                     Ã?Â?rger mit Produkt X. Roman.            4
241068                                Ã?Â?sterlich leben.            1
241069                              Ã?Â?stlich der Berge.            3
241070                                  Ã?Â?thique en toc            2

[241071 rows x 2 columns]

In [21]:
#making it to new dataframe
num_rating_df=books_with_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()

##copy of above for testing propose
df_test=books_with_ratings.groupby('Book-Title').count()['Book-Rating'].reset_index()

In [22]:
#renaming book rating to num_rating(number of rating on that book)
num_rating_df.rename(columns={'Book-Rating':'num_rating'},inplace=True)
num_rating_df

                                               Book-Title  num_rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.           2
241067                     Ã?Â?rger mit Produkt X. Roman.           4
241068                                Ã?Â?sterlich leben.           1
241069                              Ã?Â?stlich der Berge.           3
241070                                  Ã?Â?thique en toc           2

[241071 rows x 2 columns]

In [23]:
#avg_rating_df=books_with_ratings.groupby('Book-Title').mean()['Book-Rating'].reset_index()# tjis is not working in current pd
#avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
#avg_rating_df

In [24]:
#print(books_with_ratings.dtypes)

In [25]:
#print(books_with_ratings.head(15))

In [26]:
#nan = books_with_ratings['Book-Title'].isnull().sum()
print(nan)

NameError: name 'nan' is not defined

In [ ]:
#books_with_ratings['Book-Rating'] = pd.to_numeric(books_with_ratings['Book-Rating'], errors='coerce')

In [27]:
#nan = books_with_ratings['Book-Rating'].isnull().sum()
print(nan)

NameError: name 'nan' is not defined

In [28]:
avg_rating_df = books_with_ratings.groupby('Book-Title')['Book-Rating'].mean().reset_index()

In [29]:
avg_rating_df.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)

In [30]:
print(avg_rating_df.head())

                                          Book-Title  avg_rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...        8.00
4   Beyond IBM: Leadership Marketing and Finance ...        0.00

In [31]:
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

#in above maikng book title as index then mean of each num value no wokig so i putted direct min on column book-r

In [32]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')

In [33]:
popular_df

,Book-Title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [34]:
popular_df = popular_df[popular_df['num_rating']>=250].sort_values('avg_rating',ascending=False).head(50)
popular_df

,Book-Title,num_rating,avg_rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [35]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_rating','avg_rating']]

In [36]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_rating,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
16,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
17,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,368,4.948370
26,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
28,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,260,4.880769
39,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,510,4.700000
47,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,898,4.642539
53,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,430,4.551163
55,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,449,4.545657
62,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
63,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,284,4.454225
72,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
73,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,265,4.449057
78,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,774,4.447028
84,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,http://images.amazon.com/images/P/0060392452.0...,283,4.356890
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,493,4.354970
88,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,723,4.334716
89,The Hitchhiker's Guide to the Galaxy,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...,268,4.328358
98,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...,335,4.289552
100,Into the Wild,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...,252,4.273810
103,Fahrenheit 451,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...,409,4.264059
116,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,526,4.218631
117,Outlander,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...,283,4.173145
123,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,585,4.105983
124,Seabiscuit: An American Legend,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...,275,4.098182
126,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,664,4.088855
130,The Bean Trees,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...,389,4.087404
133,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...,265,4.086792
135,ANGELA'S ASHES,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...,279,4.075269
137,Good in Bed,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...,490,4.055102
139,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...,321,4.037383
140,American Gods,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...,302,4.006623
141,Skipping Christmas,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...,322,4.006211
147,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...,318,4.003145
149,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...,336,4.000000
157,The Color Purple,Alice Walker,http://images.amazon.com/images/P/0671617028.0...,314,3.964968
163,Silence of the Lambs,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...,256,3.960938
166,About a Boy,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...,262,3.900763
173,Seven Up (A Stephanie Plum Novel),Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...,278,3.888489
175,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,http://images.amazon.com/images/P/0062502174.0...,266,3.875940
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...,269,3.825279
182,Suzanne's Diary for Nicholas,James Patterson,http://images.amazon.com/images/P/0316969443.0...,457,3.820569
186,Lord of the Flies,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...,259,3.818533
192,A Prayer for Owen Meany,John Irving,http://images.amazon.com/images/P/0345361792.0...,413,3.796610
194,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,http://images.amazon.com/images/P/0345313860.0...,301,3.777409
195,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,http://images.amazon.com/images/P/0316284955.0...,356,3.772472

In [37]:
popular_df['Image-URL-M'][9]

'http://images.amazon.com/images/P/043935806X.01.MZZZZZZZ.jpg'

#<h1>colaboratory filtering

In [38]:
temp=books_with_ratings.groupby('User-ID').count()['Book-Rating']>200

In [39]:
temp

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 92106, dtype: bool

In [40]:
req_user=temp[temp].index
req_user

Index([   254,   2276,   2766,   2977,   3363,   4017,   4385,   6251,   6323,
         6543,
       ...
       271705, 273979, 274004, 274061, 274301, 274308, 275970, 277427, 277639,
       278418],
      dtype='int64', name='User-ID', length=811)

In [41]:
filt_rating=books_with_ratings[books_with_ratings['User-ID'].isin(req_user)]

In [42]:
x = filt_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = x[x].index

In [43]:
final_ratings = filt_rating[filt_rating['Book-Title'].isin(famous_books)]

In [44]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN

In [45]:
pt.fillna(0,inplace=True)

In [46]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [47]:
similarity_scores = cosine_similarity(pt)

In [48]:
def recomender(book_name):
     index = np.where(pt.index==book_name)[0][0]
     temp_sort=sorted(similarity_scores[index],reverse=True)
     similar_items=list(enumerate(temp_sort))[1:5]
     data = []
     for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
     return data

In [49]:
recomender("1984")

[['1st to Die: A Novel',
  'James Patterson',
  'http://images.amazon.com/images/P/0446610038.01.MZZZZZZZ.jpg'],
 ['2nd Chance',
  'James Patterson',
  'http://images.amazon.com/images/P/0316693200.01.MZZZZZZZ.jpg'],
 ['4 Blondes',
  'Candace Bushnell',
  'http://images.amazon.com/images/P/0451203895.01.MZZZZZZZ.jpg'],
 ['A Bend in the Road',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446527785.01.MZZZZZZZ.jpg']]

In [50]:
index = np.where(pt.index=='1984')[0][0]
temp_sort=sorted(similarity_scores[index],reverse=True)
temp_sort

[0.9999999999999999,
 0.2702651417103732,
 0.26396193711234966,
 0.2366937434740099,
 0.23299389358170397,
 0.2262639743141286,
 0.22222254415660225,
 0.21057743765309012,
 0.20675540390453995,
 0.20025063706783053,
 0.19972624710300058,
 0.19656287691544358,
 0.19511819825564608,
 0.1920889620576415,
 0.19182230688281934,
 0.18925313707609975,
 0.18921367782346202,
 0.18908176672188648,
 0.18571699439818884,
 0.1841081817659337,
 0.18408910419891056,
 0.18049207281616433,
 0.17990898085771034,
 0.17415730924332484,
 0.1738182944100774,
 0.1700871998622835,
 0.1672877700938274,
 0.16566734565340116,
 0.165272766123669,
 0.1650329228149958,
 0.16337845332530374,
 0.16104067376144765,
 0.1604118219665906,
 0.16000267935045498,
 0.1589387141616799,
 0.15850821182810643,
 0.15570975499937129,
 0.15514318804365945,
 0.15344079020689355,
 0.1530551446766823,
 0.15293362041446346,
 0.1528098402276361,
 0.15211972188253267,
 0.14909595195082756,
 0.1470284656227732,
 0.14691166711955864,
 0.14681485749917436,
 0.1459525808785892,
 0.1445684727872654,
 0.1444555917585842,
 0.14444516556944695,
 0.14440017099395475,
 0.14421330855040418,
 0.14333792815336935,
 0.1428139852200272,
 0.14201659839857333,
 0.1417627291694863,
 0.1414518615569236,
 0.13974513728492968,
 0.13974104783917973,
 0.1390419059870689,
 0.13732869060263378,
 0.13658680855472938,
 0.13644383961641227,
 0.13617057407600314,
 0.13573542468856645,
 0.13510607638008787,
 0.13445376799866068,
 0.1343973311768824,
 0.13388864701187034,
 0.13369059478865902,
 0.13365875731715246,
 0.13357242093379193,
 0.1327813903167589,
 0.13257638388225185,
 0.13107651944057502,
 0.13090710604063543,
 0.13028170853202103,
 0.12871083086643306,
 0.12858515029485706,
 0.12822981990037824,
 0.1279402426979562,
 0.12680124740531368,
 0.1265536444037226,
 0.12548312467838352,
 0.12530648498478347,
 0.12522954271046705,
 0.12508513698245888,
 0.12468283384023092,
 0.1238906533021012,
 0.12340233502840114,
 0.12338216998991305,
 0.12333680291383342,
 0.12307492189941618,
 0.12177532243608828,
 0.12167133598776536,
 0.12114265984279052,
 0.12110366748083307,
 0.12024780353669523,
 0.11979305199464946,
 0.11841889291663141,
 0.1178980615083171,
 0.11784705785247843,
 0.11784149206441577,
 0.11706383185253948,
 0.11679968613719667,
 0.11661082872914152,
 0.1149487959814155,
 0.1144539948977886,
 0.11400426236261282,
 0.11362722122094872,
 0.11277296885857815,
 0.1115354275858341,
 0.11122764671322921,
 0.1103944810687539,
 0.10990764051155277,
 0.1096807501418389,
 0.10941777035919222,
 0.10853661984252007,
 0.10850377176901972,
 0.10849696385128584,
 0.10800615252570414,
 0.10725981836116358,
 0.10684794535545848,
 0.10596223905942811,
 0.10519138203342883,
 0.10467615354986062,
 0.1039794092420736,
 0.1035963528100001,
 0.10354480865656568,
 0.10341190148072846,
 0.1033826953037451,
 0.10307399310158656,
 0.10266993316420167,
 0.10266590131312461,
 0.10266459423639845,
 0.10255024829874465,
 0.10228551050235933,
 0.10174252819190155,
 0.10135299399598713,
 0.10084626149563478,
 0.0999877199669616,
 0.09993168845101595,
 0.09974980034668829,
 0.0992354177657422,
 0.09919937023309428,
 0.09898722239993361,
 0.0987294045857185,
 0.09840359079895453,
 0.09797466122629746,
 0.09794374510256892,
 0.09791273187403501,
 0.09790644477767069,
 0.09779122591837028,
 0.09772941568150427,
 0.09754449459555777,
 0.09746696979819942,
 0.09673734976610586,
 0.09673267751838878,
 0.09596456280564838,
 0.09532519178944057,
 0.09508161331593905,
 0.09495937740802214,
 0.09488374038474037,
 0.09428288870384942,
 0.0928435169211848,
 0.09203038690315052,
 0.09132921952528268,
 0.09095705260744957,
 0.09014973218560088,
 0.09005001295005992,
 0.08996912406728536,
 0.08992738703666601,
 0.08988894455657523,
 0.08982750671022352,
 0.08958834926611466,
 0.08951389572154368,
 0.0891233745026412,
 0.08904275766583061,
 0.0885630163776942,
 0.08785938150991274,
 0.08784690368235953,
 0.08781992709390865,
 0.08723968326958673,
 0.08704223712018071,
 0.08673968616705958,
 0.08642894687915843,
 0.08608600626732467,
 0.08588206473402643,
 0.08563805381851426,
 0.08541217689607684,
 0.08474055728984814,
 0.08471898090442946,
 0.08466191294337998,
 0.08422557655984436,
 0.0842069105937096,
 0.08418288167449578,
 0.0839284865111645,
 0.08354155383339157,
 0.08331012208964668,
 0.08303111691811028,
 0.08294512991462386,
 0.08280451731096075,
 0.08272478073987326,
 0.0824612198578452,
 0.08216491130000354,
 0.0820594460339464,
 0.08200947294838495,
 0.08143881222401984,
 0.08139488796880032,
 0.08100800937525751,
 0.08091989315700655,
 0.0807748212690039,
 0.08062879942666365,
 0.08054389803075192,
 0.08033435626539932,
 0.08007284499901246,
 0.08001595368794218,
 0.07999692625971765,
 0.07984012108659384,
 0.07965814289647455,
 0.07885279086963545,
 0.07877058635507732,
 0.07866868132289853,
 0.07847534327232125,
 0.07845404559691257,
 0.07843565693314272,
 0.07839488163675291,
 0.07835976130061303,
 0.07785800873431292,
 0.07725115117942094,
 0.07652764821891074,
 0.07617194789896939,
 0.07600327535501016,
 0.0757441443938586,
 0.07561631141753603,
 0.0755468596127809,
 0.07477661367406771,
 0.07464762808145006,
 0.07458202717929566,
 0.07458136399603107,
 0.07437756212042423,
 0.07423488726781508,
 0.07422249010392888,
 0.07391777683093743,
 0.07352435567112062,
 0.07348190409223959,
 0.07347566833900478,
 0.07276403383736725,
 0.07262017448772083,
 0.07258934796997447,
 0.07242165076731459,
 0.07213921021695388,
 0.0719421185191427,
 0.07161075491687474,
 0.07151793939760116,
 0.07150547342980032,
 0.07136276113078666,
 0.07052240553428667,
 0.07025002832914887,
 0.07021576771146076,
 0.07009814362931202,
 0.0700882246357741,
 0.06947573726333098,
 0.0691101496608291,
 0.06876130890656589,
 0.06868983304237651,
 0.06829903941402894,
 0.06806264765162154,
 0.06795352889900172,
 0.06790897506872169,
 0.06766486753662343,
 0.06748675491514017,
 0.06738056011305654,
 0.0672128392842741,
 0.06715432766232284,
 0.06681045925540752,
 0.06671644037106779,
 0.06615478064452682,
 0.06609996896203728,
 0.06572303470837207,
 0.06546695823953794,
 0.06541867556977009,
 0.06524573363186935,
 0.06523041320455897,
 0.06520605980064662,
 0.06513046875777172,
 0.06510721558252526,
 0.06476148889541151,
 0.06468143253238315,
 0.06455010070487521,
 0.06426525769208898,
 0.06401961292305569,
 0.06388401351716998,
 0.0635519690782283,
 0.06306425554305625,
 0.06303898971663935,
 0.06237453600241552,
 0.06206857320564754,
 0.06167753120046458,
 0.06150451339525138,
 0.06143184266443724,
 0.061398875647666676,
 0.06129105448105361,
 0.06123118935155921,
 0.06113178628791212,
 0.060877194204984726,
 0.06087281632872059,
 0.06069830203664196,
 0.06039873575147915,
 0.060160461842087495,
 0.060039300152930415,
 0.05995157134958024,
 0.05994663767295999,
 0.05940546334243634,
 0.059363300295016304,
 0.059152881703632795,
 0.05914734917065386,
 0.05894189200911533,
 0.05864096359154978,
 0.058191840680734276,
 0.058097069301565475,
 0.057940637804840725,
 0.05762086381548707,
 0.057560148077814344,
 0.05755407693373189,
 0.057157891413611744,
 0.05711356172333468,
 0.056912401804646934,
 0.05666140304625101,
 0.056554138733275305,
 0.056290668459108455,
 0.05606788035530558,
 0.05600272988869,
 0.055102704646119355,
 0.05491435163039676,
 0.054850498513470236,
 0.05438295377092604,
 0.05437622462310082,
 0.05428487095514969,
 0.05416091103251691,
 0.05400331245399732,
 0.053729841666378134,
 0.053672244225442485,
 0.053445774200822666,
 0.05332049434044375,
 0.05273164983675109,
 0.05264856975654457,
 0.05261953990010256,
 0.05237226614377158,
 0.0522373263993224,
 0.052194792200893965,
 0.05179020017229585,
 0.051616531477964966,
 0.05144282019851702,
 0.05143480653633815,
 0.05141892092902459,
 0.05100410510067514,
 0.05021880312673623,
 0.05007429159938883,
 0.04932819154504025,
 0.049300912125160704,
 0.048593102089385304,
 0.04815971759587031,
 0.04809338200514574,
 0.04799058127298857,
 0.04796762686649386,
 0.047796293241950796,
 0.04773328410790857,
 0.047717402129725514,
 0.04768602689229997,
 0.047670497142785574,
 0.04757132169040053,
 0.04734092759216691,
 0.04706590154362337,
 0.046982457315643385,
 0.046392498261486066,
 0.046000562607200646,
 0.045977952103493924,
 0.045785523306335146,
 0.04550867061591275,
 0.04549923467689111,
 0.04542765998492866,
 0.04522616573040869,
 0.04521795287053612,
 0.04515898041752436,
 0.04504597870526374,
 0.044680983219421905,
 0.04433882752568145,
 0.044043586511889346,
 0.043491562429456586,
 0.04335826491498011,
 0.04316045784191231,
 0.04279501979786338,
 0.04223674045619745,
 0.042188025333763236,
 0.04203701143606598,
 0.04133585716291763,
 0.04005551020725377,
 0.04003333547158616,
 0.03954864515701187,
 0.03902659506471766,
 0.03836309816637586,
 0.03771888280719047,
 0.03734566872286401,
 0.03734566872286401,
 0.03709430441334803,
 0.03671505063990275,
 0.03667590746512177,
 0.036498718026030004,
 0.03643816906953526,
 0.03601739518550193,
 0.035498355256648746,
 0.03499381360818396,
 0.03482458685305275,
 0.034785003361519164,
 0.03455547895208963,
 0.03421894679431926,
 0.03355602562283,
 0.03349456939792139,
 0.03349154464789058,
 0.03280520241000348,
 0.03261686350494277,
 0.03199916313406436,
 0.030678189040978528,
 0.03054044240047009,
 0.030076807297674774,
 0.029876534978291205,
 0.029845724311982225,
 0.02955369248311012,
 0.02946442510264468,
 0.029430847399312027,
 0.029397384230560795,
 0.028830240654024085,
 0.028808272598853126,
 0.028806369616477166,
 0.028443700563612766,
 0.02817521704586765,
 0.028108399645259814,
 0.02810009706063171,
 0.02806606106883051,
 0.02781406274224919,
 0.027749013024662858,
 0.027667475691473428,
 0.027418756526771074,
 0.02687778911799567,
 0.026674838717939867,
 0.026674838717939867,
 0.02646255704581015,
 0.026330228561191004,
 0.02613276804655889,
 0.026104653172312028,
 0.026053401473749117,
 0.025808491020821493,
 0.025797824097510556,
 0.025783211586063344,
 0.025480338679592467,
 0.025177841632809915,
 0.02494136129371724,
 0.024840764583155147,
 0.02482518222135733,
 0.024720785609384784,
 0.024712941476041382,
 0.024635927968282654,
 0.02463490862737704,
 0.024601653277066596,
 0.024337026385897676,
 0.024318094429406693,
 0.02428501142412964,
 0.024141217209915328,
 0.024108621631248803,
 0.02407593195976403,
 0.023933399289577127,
 0.023634261138311616,
 0.02329035016031528,
 0.02322418425912186,
 0.023175154774464087,
 0.023066582966561253,
 0.023049037833599993,
 0.023007092325074995,
 0.02297481006625077,
 0.022970785411852147,
 0.0228620664348094,
 0.022760772453994885,
 0.02267512161790004,
 0.02266096293926825,
 0.022424955017243866,
 0.02190023295408395,
 0.021801683645525486,
 0.021774817728178283,
 0.02175821065382328,
 0.021668631362692693,
 0.021636698437203145,
 0.02159225803102367,
 0.021530886296301118,
 0.021353685011361416,
 0.021320163671431275,
 0.021276714965680187,
 0.021238372796229556,
 0.021163446843373374,
 0.02115842407200956,
 0.02114858980511902,
 0.02097867986921867,
 0.020935646634428463,
 0.02090768582511093,
 0.020860053643757807,
 0.020846396819831855,
 0.020839782065795794,
 0.020767833514212724,
 0.020669978441948792,
 0.02040796206066411,
 0.02033558874805688,
 0.020321161226731627,
 0.020281245334279798,
 0.020221447157344582,
 0.020135489410098205,
 0.020059585724360268,
 0.019872703940133213,
 0.019788442258843547,
 0.01962921144060071,
 0.019598256153707194,
 0.019208718234636258,
 0.01915362558614925,
 0.019099672781938637,
 0.019067312487474012,
 0.019033695446023926,
 0.01902896010686717,
 0.018873932015163516,
 0.018786559700050654,
 0.018611497829688243,
 0.01858409288796079,
 0.018394279624570017,
 0.018319772326554337,
 0.018252769789423258,
 0.018230696811058135,
 0.0181287703514146,
 0.018072383204619496,
 0.018015801292409934,
 0.017971540540139944,
 0.017696441246693336,
 0.017598641856748937,
 0.01758928833928951,
 0.017572862308732076,
 0.017527779718968118,
 0.017396246144706713,
 0.017303468493582226,
 0.017210453378914768,
 0.0171880657878069,
 0.017050265851722604,
 0.016901518597837405,
 0.016834621675675482,
 0.016763442237401817,
 0.016719816747289874,
 0.016351262734144115,
 0.016265641643564675,
 0.016216682151444957,
 0.016142753550857224,
 0.016016629607635186,
 0.01579666260459111,
 0.01559751952620105,
 0.01556270914112474,
 0.015542921836058245,
 0.015459465622161536,
 0.015333681815045101,
 0.015222501642298877,
 0.015158449197584845,
 0.015102006885841438,
 0.015076532862248153,
 0.014881608648267744,
 0.01473221255132234,
 0.014679640011206505,
 0.01432863977616057,
 0.014112489355409683,
 0.013634576553468258,
 0.013316271087745269,
 0.01317087876205714,
 0.012814117802391826,
 0.012608239194211564,
 0.012406560213354146,
 0.012345246102533871,
 0.012208555646509366,
 0.012179056920074677,
 0.011952011165403655,
 0.011948245768325256,
 0.011778242975805127,
 0.011722012964226876,
 0.011474570339750256,
 0.011401692977613393,
 0.011116365315772406,
 0.011056735115042383,
 0.01083152786792504,
 0.01073641547918824,
 0.010689154840164533,
 0.010632508151830204,
 0.010607867311865709,
 0.010481255663709239,
 0.010423913217045038,
 0.010066425112509755,
 0.009687245558530464,
 0.009536746594659161,
 0.009489432211152974,
 0.009099054369341325,
 0.0089604367821904,
 0.00885998445194921,
 0.00882242400686552,
 0.00875634332679306,
 0.00850895140653615,
 0.008448763927099017,
 0.007680459111722776,
 0.007305889033771798,
 0.00581843892000093,
 0.005579638588454276,
 0.0035883533320389396,
 0.00272862336930817,
 0.0017370894470936135,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [51]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [52]:
recommend('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]

Sorting Process:

2nd Approach: Pairs the similarity scores with their indices before sorting.
1nd Approach: Sorts the similarity scores first, then pairs them with indices.
Result:

2nd Approach: Retains the original indices associated with the similarity scores, ensuring that the indices correspond to the books.
1st Approach: Loses the original indices of the similarity scores because it sorts the scores independently, resulting in incorrect indexing.

so secound one is accurate i will use that